.wrapper{
	width: 1200px;
	height: 700px;
	padding: 10px;
	margin: 10px auto;
	background-color: #FBF8ECFF;
}
header{
	height: 72px;
	left: 0px;
	right: 0px;
	top: 0px;
	background: #FFFFFF;
}
.container{

}
.header_body{

}
.header_menu{

}




/*FOTER*/
hr{
	
}
ul{

}